extends ../_layouts/layout

block var
	- title = 'Home'
	- bodyClass = 'home'

block css
	link(rel="stylesheet", href="/static/css/error.css")

block main
	.content-error
		h1=errorTitle
		p=description
	.sheep
		span.top
			.body
			.head
				.eye.one
				.eye.two
				.ear.one
				.ear.two
		.legs
			.leg
			.leg
			.leg
			.leg

