
	<link rel="stylesheet" href="/static/templates/css/card-v3.css">
	
<div class="card card-v3"><a class="card__link" href="#" title="Description of the link" aria-label="Description of the link">
		<figure class="card__img"><img src="/static/templates/images/card-v3/images/card_1.jpeg" alt="Description of card v3"/></figure>
		<div class="card__content"><span class="card__label">Label</span>
			<h3 class="card__title">Lorem ipsum dolor sit amet.</h3>
		</div>
		<div class="card__footer"><span>Read more</span>
			<svg class="icon" viewBox="0 0 16 16">
				<g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
					<line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line>
					<polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline>
				</g>
			</svg>
		</div></a></div>
	<script src="/static/templates/js/card-v3.js"></script>
	