.pages-edit-view
	.page-tabs.js-page-tabs
		//- .page-view-nav
		//- 	ul
		//- 		li.is-active
		//- 			a(href="javascript:void(0)" data-tab="0")
		//- 				i.fad.fa-file
		//- 				span index.html
		//- 				button.btn-page-delete(type="button")
		//- 					i.fal.fa-times
		.page-view-contents
			.page-view-content(data-content="0")

