.pages-edit-view
	.page-tabs
		.page-view-nav
			ul
				li
					a(href="jacascript:void(0)")
						i.fad.fa-file
						span about.html
						button.btn-page-delete(type="button")
							i.fal.fa-times
				li.is-active
					a(href="jacascript:void(0)")
						i.fad.fa-file
						span index.html
						button.btn-page-delete(type="button")
							i.fal.fa-times
				li
					a(href="jacascript:void(0)")
						i.fad.fa-file
						span contact.html
						button.btn-page-delete(type="button")
							i.fal.fa-times
		.page-view-contents
			.page-view-content

