header.header-editor
	.container
		nav.navbar
			a.navbar-brand(href="")
				img(src="/static/images/donut_logo.svg", alt="logo")
			.navbar-nav
				a.nav-item.nav-theme(href="javascript:void(0)")
					i.fal.fa-paint-roller
					| Themes
				a.nav-item.nav-settings(href="javascript:void(0)")
					i.fal.fa-cog
					| Settings
				a.nav-item.nav-css(href="javascript:void(0)")
					i.fal.fa-brackets-curly
					| Css
				a.nav-item.nav-js(href="javascript:void(0)")
					i.fal.fa-brackets
					| Js
