
	<link rel="stylesheet" href="/static/templates/css/card-v1.css">
	
<div class="card card-v1">
	<figure class="card__img"><img src="/static/templates/images/card-v1/images/card_1.jpeg" alt="Card preview img"/></figure>
	<div class="card__content">
		<div class="card__text">
			<h4 class="card__title">Title of the Card</h4>
			<p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, suscipit.</p>
		</div>
		<div class="card__button"><a class="btn btn--subtle btn--sm" href="#0">Read more</a></div>
	</div>
</div>
	<script src="/static/templates/js/card-v1.js"></script>
	