@import '../../styles/abstracts/mixins';
@import '../../styles/base/variables';

@import '../_layouts/components/project-name/project-name';
@import '../_layouts/components/header/header';
@import '../_layouts/components/sidepane/sidepane';
@import '../_layouts/components/page-view/page-view';
@import '../_layouts/components/page-view/page-view-nav';
@import '../_layouts/components/page-view/page-view-content';

.pages-edit-main {
	height: calc(100vh - 4.3125rem);

	display: flex;

	width: 100%;
}
