extends ../_layouts/layout

block var
	- title = 'Home'
	- bodyClass = 'home'

block css
	link(rel="stylesheet", href="/static/css/index.css")
block js
	script(src="/static/js/index.js")

block main
	include ../_layouts/components/header/header
	section.pages-edit-main
		include ../_layouts/components/sidepane/sidepane
		include ../_layouts/components/page-view/page-view
	//- include ../_layouts/components/project-name/project-name
