
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v9.css">
			<title>card-v9</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto">
			<div class="card card-v9"><a class="card__link" href="#" title="Description of the link" aria-label="Description of the link" style="background-image: url(&quot;@card/card-v9/images/card_1.jpeg&quot;)">
					<div class="card__body">
						<div class="card__content">
							<p class="card__label">Category</p>
							<h3 class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, atque.</h3>
						</div>
						<div class="card__button"><span><i>Read more</i></span></div>
					</div></a></div>
		</div>
	</div>
</div>
			<script src="/static/templates/js/card-v9.js"></script>
		</body>
	</html>
	