
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v8.css">
			<title>card-v8</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto">
			<div class="card card-v8"><a class="card__link" href="#" title="Description of the link" aria-label="Description of the link">
					<figure class="card__img"><img src="/static/templates/images/card-v8/images/card_2.jpg" alt="Description of the link"/></figure>
					<div class="card__content">
						<p class="card__label">Label</p>
						<h4 class="card__title"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis molestias pariatur voluptate et vel iure.</span></h4>
					</div></a></div>
		</div>
	</div>
</div>
			<script src="/static/templates/js/card-v8.js"></script>
		</body>
	</html>
	