
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v4.css">
			<title>card-v4</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto">
			<div class="card card-v4 card--img-padding">
				<div class="card__content">
					<h3 class="card__title">Lorem ipsum dolor sit amet.</h3>
					<p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia minus culpa commodi.</p>
					<div class="card__buttons"><a class="card__button btn btn--subtle" href="#">Learn more</a><a class="card__button btn btn--primary" href="#">Buy</a></div>
				</div>
				<figure class="card__img"><img src="/static/templates/images/card-v4/images/card_1.jpeg" alt="Description of card v3"/></figure>
			</div>
		</div>
	</div>
</div>
			<script src="/static/templates/js/card-v4.js"></script>
		</body>
	</html>
	