
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v5.css">
			<title>card-v5</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto">
			<div class="card card-v5"><a class="card__link" href="" title="Description of the link" aria-label="Description of the link">
					<figure class="card__img"><img src="/static/templates/images/card-v5/images/card_1.jpeg" alt="Card preview img"/></figure></a>
				<div class="card__content">
					<h3 class="card__title">Lorem ipsum dolor sit amet</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, maiores!</p>
					<p><a class="btn btn--primary btn--sm" href="#">Read more</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
			<script src="/static/templates/js/card-v5.js"></script>
		</body>
	</html>
	