
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v2.css">
			<title>card-v2--link</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto"><a class="card card-v2" href="#0">
				<figure class="card__img"><img src="/static/templates/images/card-v2/images/card_3.jpeg" alt="Image description"/>
					<figcaption class="card__caption">
						<div class="card__caption-title">Card Title</div>
						<div class="card__caption-description">Label</div>
					</figcaption>
				</figure></a></div>
	</div>
</div>
			<script src="/static/templates/js/card-v2.js"></script>
		</body>
	</html>
	