
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v6.css">
			<title>card-v6</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto">
			<div class="card card-v6"><a class="card__link" href="#" title="Description of the link" aria-label="Description of the link">
					<figure class="card__img"><img src="/static/templates/images/card-v6/images/card_1.jpeg" alt="Description of the link"/></figure>
					<div class="card__content"><span class="card__label">Label</span>
						<h3 class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
					</div>
					<div class="card__icon">
						<svg class="icon" viewBox="0 0 12 12">
							<g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<line x1="11.5" y1="6" x2="0.5" y2="6"></line>
								<polyline points="7.5 2 11.5 6 7.5 10"></polyline>
							</g>
						</svg>
					</div></a></div>
		</div>
	</div>
</div>
			<script src="/static/templates/js/card-v6.js"></script>
		</body>
	</html>
	