
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/static/templates/css/codyhouse.css">
			<link rel="stylesheet" href="/static/templates/css/card-v7.css">
			<title>card-v7</title>
		</head>
		<body>
			
<div class="container margin-top-lg">
	<div class="grid gap-xs">
		<div class="col-6@sm col-4@md margin-x-auto">
			<div class="card card-v7"><a class="card__link" href="#" title="Description of the link" aria-label="Description of the link">
					<figure class="card__img"><img src="/static/templates/images/card-v7/images/card_1.jpeg" alt="Description of the link"/></figure></a>
				<div class="card__content"><span class="card__label">Label</span>
					<h3 class="card__title"><a href="#" title="Description of the link" aria-label="Description of the link">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="card__buttons">
					<button class="card__button btn btn--subtle btn--sm">Share</button>
					<button class="card__button btn btn--subtle btn--sm">
						<svg class="icon" aria-hidden="true" viewBox="0 0 16 16">
							<g>
								<path d="M14.682,2.318c-1.757-1.757-4.607-1.757-6.364,0C8.197,2.439,8.104,2.577,8,2.707 C7.896,2.577,7.803,2.439,7.682,2.318c-1.757-1.757-4.607-1.757-6.364,0c-1.757,1.757-1.757,4.607,0,6.364L8,15l6.682-6.318 C16.439,6.925,16.439,4.075,14.682,2.318z"></path>
							</g>
						</svg><span>Like</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
			<script src="/static/templates/js/card-v7.js"></script>
		</body>
	</html>
	