.page-view-contents {
	.page-view-content-item {
		height: calc(100vh - 7.125rem);

		display: none;
		overflow-y: auto;

		position: relative;

		&::after,
		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;

			pointer-events: none;
		}

		&::after {
			content: 'Drag and Drop your component in here';

			display: flex;
			justify-content: center;
			align-items: center;

			color: $light;
			transition: color 0.3s ease-in-out;
		}

		&::before {
			background-color: $neutralShade6;
		}

		&.is-active {
			display: block;
		}

		&.has-component {
			background-color: $neutralShade6;

			&::after {
				content: '';
			}
		}
	}

	&.is-dragging {
		.page-view-content-item {
			&::after {
				color: rgba($light, 0.5);
			}
		}
	}
}
