.page-view-contents {
	.page-view-content {
		background-color: $neutralShade6;

		height: calc(100vh - 7.125rem);

		display: none;
		overflow-y: auto;

		position: relative;

		&::before {
			content: 'Drag and Drop your component in here';

			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

			color: $light;
		}

		&.is-active {
			display: block;
		}
	}
}
