aside.pages-edit-sidepane
	.component-accordions
		.component-accordion.is-active
			h4.component-accordion-title
				span.component-accordion-name Cards
				span.component-accordion-count 10
			.component-accordion-list
				.component-accordion-item
					figure
						img(src="https://images.unsplash.com/photo-1603444190665-3f3810ba7f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="alt")
						figcaption card 1
				.component-accordion-item
					figure
						img(src="https://images.unsplash.com/photo-1603444190665-3f3810ba7f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="alt")
						figcaption card 1
				.component-accordion-item
					figure
						img(src="https://images.unsplash.com/photo-1603444190665-3f3810ba7f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="alt")
						figcaption card 1
				.component-accordion-item
					figure
						img(src="https://images.unsplash.com/photo-1603444190665-3f3810ba7f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="alt")
						figcaption card 1
