@import '../../../styles/abstracts/mixins';
@import '../../../styles/base/variables';

@import '../../_layouts/components/project-input/project-input';
@import '../../_layouts/components/header/header';
@import '../../_layouts/components/sidepanel/sidepanel';
@import '../../_layouts/components/accordion-list/accordion-list';
@import '../../_layouts/components/accordion-item/accordion-item';
@import '../../_layouts/components/component-list/component-list';
@import '../../_layouts/components/component-item/component-item';
@import '../../_layouts/components/page-view-nav/page-view-nav';
@import '../../_layouts/components/page-view-contents/page-view-contents';

.pages-edit-main {
	height: calc(100vh - 4.3125rem);

	display: flex;

	width: 100%;
}

.pages-edit-view {
	--circle-size: 1.25rem;

	width: calc(100vw - 14.375rem);

	position: relative;
}
