
	<link rel="stylesheet" href="/static/templates/css/card-v4.css">
	
<div class="card card-v4 card--img-no-padding">
	<div class="card__content">
		<h3 class="card__title">Lorem ipsum dolor sit amet.</h3>
		<p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia minus culpa commodi.</p>
		<div class="card__buttons"><a class="card__button btn btn--subtle" href="#">Learn more</a><a class="card__button btn btn--primary" href="#">Buy</a></div>
	</div>
	<figure class="card__img"><img src="/static/templates/images/card-v4/images/card_1.jpeg" alt="Description of card v3"/></figure>
</div>
	<script src="/static/templates/js/card-v4.js"></script>
	